<html>

<head>
    <title>下载Keystore文件</title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/jquery.url.js"></script>
    <script src="js/wallet.js"></script>
    <link rel="stylesheet" href="css/wallet.css">
</head>

<body>
<div id="nav"></div>
<script>
    $("#nav").load("html/nav.html")
</script>

<div id="main">
    <div id="saveKeystoreFile">
        <h1>下载Keystore文件</h1>
        <a href="<%= downloadurl %>">下载KeyStore文件</a>
        <button onclick="saveKeystoreNext()">下一步</button>
    </div>

    <div id="showPrivateKey" style="display: none">
        <h1>Save your private Key</h1>
        <div>
            <%= privateKey %>
        </div>
    </div>
</div>
</body>

</html>